.budgetTable {
	background-color: #F6F6FA;
	color: #21434B;
	margin-left: 1.5rem;
	border-radius:3px;
}

.budgetTable h3 {
	margin-left: 1.5rem;
}

.line {
	display: block;
	margin-left: 1rem;
}

.item {
	display: inline-block;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}