#about {
	padding-top: 4rem;
	min-height: 100vh;
	text-align: center;
	font-size: 1.5rem;
	background-color: #F6F6FA;
}

#about p {
	font-size: 2rem;
	margin: 3rem 0;
}

#about .fa {
	font-size: 4rem;
	margin: 2rem;
} 

.fa-check-square {
	display: block;
}

@media only screen and (max-width: 843px) {
	#about {
		padding-top: 2rem;
	}

	#about p {
		margin-bottom: 1rem;
	}

	#about .fa {
		margin: 0.5rem;
		display: block;
	} 	
}