#hero {
	background-color: #35545B;
	color: #F6F6FA;
	font-size: 1.5rem;
	min-height: 100vh;
	padding-top: 15rem;
	text-align: center;
}

#hero .fa-angle-double-down {
	margin-top: 8rem;
	font-size: 4rem;
}