/***** GENERAL ****
body {
	margin: 2rem;
	background-color: #21434B;
	font-size: 1.5rem;
}

section {
	min-height: 100vh;
	padding: 3rem;
	text-align: center;
}

section:nth-child(2) {
	background-color: #F6F6FA;
	color: #21434B;
}

h2 {
	text-align: center;
	vertical-align: middle;
}

.title {
	vertical-align: middle;
	color: #F6F6FA;
}

.left-side {
	text-align: left;
	font-size: 2.5rem;
}

.right-side {
	text-align: right;
	font-size: 2.5rem;
}





*/