#loginForm {
	background-color: #35545B;
	color: #F6F6FA;
	text-align: center;
	margin-top: 5rem;
	padding-top: 8rem;
	height: 100vh;
}

#loginForm a {
	border-bottom: 1px solid #F6F6FA;
}

#loginForm a:visited {
	color: #F6F6FA;
}

#loginForm a:hover {
	font-weight: bold;
}

#loginForm input {
	font-family: 'Lato', sans-serif; 
	height: 4rem;
	background-color: #35545B;
	width: 100%;
	border: none;
	border-bottom: 1px solid #F6F6FA;
	padding-top: 1.5rem;
	color: #F6F6FA;
	text-align: center;
}

#loginForm input::placeholder {
	font-family: 'Lato', sans-serif;
	text-align: center;
	color: #F6F6FA;
}

#loginForm button {
	font-family: 'Lato', sans-serif;
	margin-top: 1rem;
	height: 3rem;
	color: #21434B;
	background-color: #F6F6FA;
	border: 1px solid #21434B;
	width: 15rem;
}

.input {
	width: 20em;
	margin: 1rem auto;
}

.demo {
	background-color: #F6F6FA;
	color: #21434B;
	font-weight: bold;
	line-height: 1rem;
	padding: 1rem;
	width: 50%;
	margin: 0 auto;
	margin-top: 2rem;
	text-align: center;
	border-radius: 3px;
}

@media only screen and (max-width: 843px) {
	#loginForm {
		margin-top: 10rem;
	}
}












