.nav-bar-public {
	padding: 1rem;
	background-color: #F6F6FA;
	color: #21434B;
	position: absolute;
	top: 0;
	width: 100%;
}

#title {
	display: inline;
}

.nav-public {
	display: inline;
	text-align: right;
}

.nav-links {
	display: inline;
	margin: 3rem 1rem;
}

/***** HAMBURGER MENU *****/


























