.nav-bar-public {
	padding: 1rem;
	background-color: #F6F6FA;
	color: #21434B;
	position: absolute;
	top: 0;
	width: 100%;
}

.nav-public {
	margin-top: 1rem;
	text-align: right;
}

#menu a {
	margin-right: 1rem;
	font-size: 1.5rem;
	color: #21434B;
}

.nav-public button {
	margin-right: 1rem;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	background-color: #21343B;
	color: #F6F6FA;
	border: 1px solid #21343B;
	border-radius: 5px;
	height: 1.4rem;
	width: 6rem;
	cursor: pointer;

}

@media only screen and (max-width: 843px) {
	.nav-bar-public {
		position: absolute;
		top: 0;
		width: 100%;
	}

	.nav-public {
		text-align: center;
		border-top: 1px solid #21434B;
	}
}

