.nav-bar-users {
	padding: 1rem;
	background-color: #F6F6FA;
	color: #21434B;
	/*position: relative;
	top: 0;
	width: 100%;*/
	border-top: 1px solid #21434B;
}

#title {
	display: inline;
}

.nav-users {
	display: inline;
	text-align: right;
}

.nav-links {
	display: inline;
	margin: 3rem 1rem;
}

/***** HAMBURGER MENU *****/